<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Colorization</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Background image -->
    <div class="bg-image"></div>
    
   <!-- HTML form for uploading an image -->
<form action="/colorize" method="POST" enctype="multipart/form-data" class="image-upload-form">
    <label for="image-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Choose an Image
    </label>
    <input type="file" id="image-upload" name="image" accept="image/*" required>
    <button class="submit">Colorize</button>
</form>


    <!-- Display both the input and colorized images side by side -->
    <div class="image-container">
        <!-- Input Image -->
        <div class="image-frame">
            {% if base64_image %}
                <h2>Input Image</h2>
                <img src="data:image/jpeg;base64,{{ base64_image }}" alt="Input Image">
                
            {% endif %}
        </div>

<!-- Display the colorized image if available -->
<div class="image-frame">
    {% if base64_colorized_image %}
        <h2>Colorized Image</h2>
        <img src="data:image/jpeg;base64,{{ base64_colorized_image }}" alt="Colorized Image">
        <a href="{{ url_for('download_colorized_image') }}" download="temp_colorized_image.jpeg">Download Colorized Image</a>
    {% endif %}
</div>

    </div>
</body>
</html>
